* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: Noto Sans KR;
    font-size: 12px;
    line-height: 24px;
    color: #333;
    position: relative;
    height: 100%;
}

/*header*/
#header_wrap {
    height: 175px;
    position: relative;
}

.header {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 30px;
    box-sizing: border-box;
    height: 110px;
}

.login {
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    font-weight: bold;
}

.login li a {
    color: #706f6f;
}

#gnb_wrap {
    height: 65px;
    position: relative;
    z-index: 9;
}

.gnb {
    width: 1320px;
    margin: 0 auto;
    display: flex;
}

.gnb>li {
    width: 16%;
    text-align: center;
    letter-spacing: 2px;
}

.gnb>li>a {
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #3c3c3b;
    padding: 20px 0 21px 0;
}

.gnb>li>a:hover {
    border-bottom: 2px solid #f9b10d;
}

.submenu {
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

.submenu li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 13px;
}

.submenu li a:hover {
    background-color: rgba(255, 255, 255, 0.8)
}

.gnb li:hover .submenu {
    display: block;
}

.gnb .on> a {
    border-bottom: 2px solid #f9b10d;
}

.m_gnb {
    display: none;
}
.submenu:hover{border-top: 2px solid #f9b10d;}

#title {
    background-color: #f6f6f6;
    height: 165px;
    margin-bottom: 30px;
}
#title img{margin-right: 10px;
            vertical-align: middle;
            display: inline-block;}
#title p {
    text-align: center;
    padding-top: 65px;
    font-size: 25px;
    font-weight: bold;
}

.container{width: 1320px;
            margin: 0 auto;
            height: 620px;
}
.list{display: flex;
      justify-content: space-between;
}
.list li{width: 330px;
        height: 350px;
        padding-bottom: 15px;
        border-bottom: 2px solid #f9b10d;}
.list p{margin-top: 25px;}
.btn{text-align: right;
  margin-top: 80px;}
.btn a{display: inline-block;
    padding: 7px 15px;
    background-color: #f9b10d;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;}
.btn1{text-align: right;
      margin-bottom: 15px;}
.btn1 a{display: inline-block;
    font-weight: bold;
        text-align: right;}
/*footer*/
#footer_wrap {
    background-color: #f6f6f6;
    color: #333;
    text-align: left;
    overflow: hidden;
}

.footer {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
}

.link {
    text-align: left;
    display: flex;
}

.link li a {
    color: #333;
    padding: 0 30px 0 0;
    margin: 0 auto;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
}




/*tablet*/
@media (max-width:1320px) {

    /*header*/
    .header {
            width: 100%;
    }

    .header h1{padding-top: 20px;}

    .gnb {
            width: 100%;
    }
    
    .container{width: 100%;
        height: 620px;
}
.list{display: flex;
  justify-content: space-between;
}

        /*footer*/
        .footer {
            width: 100%;
            ;
    }

    .link {
            text-align: left;
    }
}

@media (min-width:701px) and (max-width:1030px) {
    .list li:nth-child(3){display: none;}
}



/*mobile*/
@media (max-width:700px) {
    .section {
            margin-top: 40px;
    }
    
    .header {
            width: 100%;
            position: relative;
    }
    .header h1{padding-top: 20px;}
    .login,
    .gnb {
            display: none;
    }

    .m_gnb {
            display: block;
            position: absolute;
            top: -70px;
            right: 20px;
    }

    .container{width: 100%;
        height: 1100px;}
.list{display: flex;
    flex-wrap: wrap;
  justify-content: center;
}
.list li{width: 330px;
    height: 350px;
    padding-bottom: 15px;
    margin-bottom: 80px;
    border-bottom: 2px solid #f9b10d;}
.list p{margin-top: 25px;}
.btn{text-align: center;
margin-top: 50px;}
.btn1{text-align: center;}
.btn1 a{display: inline-block;
font-weight: bold;
padding: 10px 25px;
border-radius: 5px;
border: 1px solid #f9b10d;
    text-align: center;}
.list li:nth-child(3){display: none;}

            /*footer*/

            .footer {
                width: 100%;
        }
}
