* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: Noto Sans KR;
    font-size: 12px;
    line-height: 24px;
    color: #333;
}

/*header*/
#header_wrap {
    height: 175px;
    position: relative;
}

.header {
    width:1320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 30px;
    box-sizing: border-box;
    height: 110px;
}

.m_gnb {
    display: none;
}

.login {
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    font-weight: bold;
}

.login li a {
    color: #706f6f;
}

#gnb_wrap {
    height: 65px;
    position: relative;
    z-index: 9;
}

.gnb {
    width: 1320px;
    margin: 0 auto;
    display: flex;
}

.gnb>li {
    width: 16%;
    text-align: center;
    letter-spacing: 2px;
}

.gnb>li>a {
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #3c3c3b;
    padding: 20px 0 21px 0;
}

.gnb>li>a:hover {
    border-bottom: 2px solid #f9b10d;
}

.submenu {
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

.submenu li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 13px;
}

.submenu li a:hover {
    background-color: rgba(255, 255, 255, 0.8)
}

.gnb li:hover .submenu {
    display: block;
}
.submenu:hover{border-top: 2px solid #f9b10d;}

.gnb .on> a {
    border-bottom: 2px solid #f9b10d;
}

#title {
    background-color: #f6f6f6;
    height: 165px;
    margin-bottom: 30px;
}
#title p {
    text-align: center;
    padding-top: 65px;
    font-size: 25px;
    font-weight: bold;
}


.container{width: 1320px;
    margin: 0 auto;}
.list{display: flex;
     justify-content: space-around;
    margin: 80px 0;}


.list li a{display: inline-block;
    border: 2px solid #f9b10d;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    text-align: center;

        font-size: 30px;
        font-family: 티머니 둥근바람;
        font-weight: bold;}

.list li p{ padding-top: 110px;}

.list li a:hover{background-color: #f9b10d;
                color: #fff;
                border-radius: 15px;}

.square{width: 70px ;
        height: 2px;
        background-color: #f9b10d; 
        margin:0 auto;}
.text{font-size: 15px;
     text-align: center;
        margin: 25px 0 80px 0;
        font-weight: bold;}

/*footer*/
#footer_wrap {
    background-color: #f6f6f6;
    color: #333;
    text-align: left;
    overflow: hidden;
}

.footer {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
}

.link {
    text-align: left;
    display: flex;
}

.link li a {
    color: #333;
    padding: 0 30px 0 0;
    margin: 0 auto;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
}




/*tablet*/
@media (max-width:1320px) {

    /*header*/
    #header_wrap {
            width: 100%;
    }

    .header {
            width: 100%;
    }

    .gnb {
            width: 100%;
    }

    
.container{width: 90%;}
.list{display: flex;
    flex-wrap: wrap;
     justify-content: space-around;
    margin: 80px 0;}

.list li{margin: 30px 0;}
.list li a{display: inline-block;
    border: 2px solid #f9b10d;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    text-align: center;

        font-size: 30px;
        font-family: 티머니 둥근바람;
        font-weight: bold;}

.text{ word-break: keep-all;}

.text{font-size: 15px;
     text-align: center;
        margin: 25px 0 80px 0;
        font-weight: bold;}

        /*footer*/
        .footer {
            width: 100%;
            box-sizing: border-box;
    }

}



/*mobile*/
@media (max-width:700px) {

    /*header*/
    #header_wrap {
            width: 100%;
    }

    .header {
            width: 100%;
            position: relative;
    }
    .header h1{padding-top: 20px;}
    .login,
    .gnb {
            display: none;
    }

    .m_gnb {
        display: block;
        position: absolute;
        top: -70px;
        right: 20px;
}

    .container{width: 100%;}
    .list{display: flex;
        flex-wrap: wrap;
        margin: 40px 0;
         justify-content: space-around;}
    

    .list li a{height: 170px;
        width: 170px;    
            font-size: 25px;}
    
    .list li p{ padding-top: 80px;}
    
    .list li a:hover{background-color: #f9b10d;
                    color: #fff;
                    border-radius: 15px;}

    .text{font-size: 15px;
         text-align: center;
            margin: 25px 0 80px 0;
            font-weight: bold;}
;}


            /*footer*/
            .footer {
                width: 100%;
                margin: 0;
                box-sizing: border-box;
        }

        .link {
                text-align: left;
        }

        .footer p {
                width: 50%;
        }
}